@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

$font-family:'Playfair Display', serif;
$body-bg-color: pink;
$box-bg-color: pink;
$box-border-color: purple;
$alt-bg-color: cyan;

body {
  background-color: $body-bg-color;
  display: flex;
  flex-direction: column;
  
}
#sign-up-form {
    justify-content: center;
    display: flex;
}
#auth-display {
    font-family: 'Rubik', sans-serif;
    color: cornflowerblue;
    position: fixed;
    top: 19%;
    left: 41%;
}
h1 {
    font-family: 'Rubik', sans-serif;
    position: fixed;
    top: 28%;
    left: 42%;
}
h2 {
    font-family: 'Rubik', sans-serif;
    position: fixed;
    top: 23%;
    left: 43%;
}
h3 {
    justify-content: center;
    display: flex;
    font-size: medium;
}
#sign-in-form {
    justify-content: center;
    display: flex;
}
#sign-out-button {
    position: fixed;
    right: 10%;
    bottom: 10%;
}
// h1 {
//     justify-content: center;
//     display: flex;
// }
#gameboard{
    display: none;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    position: fixed;
    top: 40%;
    left: 37%;
}
.box{
    
    background-color: white;
    border-color: purple;
    margin: 10px;
    color: pink; font-size: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    padding: 5px 10px;
    background-color: peachpuff;
    font-family: 'Rubik', sans-serif;
}
#new-game {
    margin: 0;
    position: fixed;
    bottom: 10%;
    left: 10%;
    
}
#start-game {
    // justify-content: center;
    // display: flex;
    // align-items: center;
    position: fixed;
    right: 12%;
    top: 28%;

}